@model Rocky_1.Models.ViewModels.ProductVM_1

@{
    string title = "Create Product_1";
}

<form asp-action="Upsert" method="post" enctype="multipart/form-data">
    @* <input asp-for="Id" hidden> *@
    @* <div class="container"> *@
    <div class="border p-3">

        @{
            if (Model.Product_1.Id == 0)
            {
                <h2 class="text-info">@title</h2>
            }
            else
            {
                <h1 class="text-info">Edit Product_1</h1>
                <input asp-for="Product_1.Id" hidden>
            }
        }

        <br />
        <br />

        <div class="row">

            <div class="col-8 ">
                <div class="row mb-2">
                    <div class="col-4">
                        <label asp-for="Product_1.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product_1.Name" class="form-control" />
                        <span asp-validation-for="Product_1.Name"></span>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-4">
                        <label asp-for="Product_1.Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product_1.Price" class="form-control" />
                        <span asp-validation-for="Product_1.Price"></span>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-4">
                        <label asp-for="Product_1.ShortDesc"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product_1.ShortDesc" class="form-control" />
                        <span asp-validation-for="Product_1.ShortDesc"></span>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-4">
                        <label asp-for="Product_1.Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea id="summernote" asp-for="Product_1.Description" class="form-control"></textarea>
                        @* <span asp-validation-for="Description"></span> *@
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-4">
                        <label asp-for="Product_1.Image"></label>
                    </div>
                    <div class="col-8">
                        <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-4">
                        <label asp-for="Product_1.Category_1_Id"></label>
                    </div>
                    <div class="col-8">
                        @* <select asp-for="Category_1_Id" asp-items="@ViewBag.Category_1DropDown"  class="form-control">
                            <option selected disabled>--Select Category--</option>
                        </select> *@

                        @* <select asp-for="Product_1.Category_1_Id" asp-items="@ViewData["Category_1DropDown"] as IEnumerable<SelectListItem>"  class="form-control">
                            <option selected disabled>--Select Category--</option>
                        </select> *@

                        <select asp-for="Product_1.Category_1_Id" asp-items="@Model.CategorySelectList_1" class="form-control">
                            <option selected disabled>--Select Category--</option>
                        </select>

                        <span asp-validation-for="Product_1.Category_1_Id"></span>
                    </div>
                </div>


                <div class="row mb-2">
                    <div class="col-4">
                        <label asp-for="Product_1.ApplicationType_1_Id"></label>
                    </div>
                    <div class="col-8">
                        @* <select asp-for="Category_1_Id" asp-items="@ViewBag.Category_1DropDown"  class="form-control">
                            <option selected disabled>--Select Category--</option>
                        </select> *@

                        @* <select asp-for="Product_1.Category_1_Id" asp-items="@ViewData["Category_1DropDown"] as IEnumerable<SelectListItem>"  class="form-control">
                            <option selected disabled>--Select Category--</option>
                        </select> *@

                        <select asp-for="Product_1.ApplicationType_1_Id" asp-items="@Model.ApplicationTypeSelectList_1" class="form-control">
                            <option selected disabled>--Select Application Type--</option>
                        </select>

                        <span asp-validation-for="Product_1.ApplicationType_1_Id"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            @if (Model.Product_1.Id != 0)
                            {
                            // update
                                <button type="submit" class="btn btn-info w-100">Update</button>
                            }

                            else
                            {
                // create
                                <button type="submit" onclick="return validateInput()" class="btn btn-primary w-100">Create</button>
                            }
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-info w-100">Back</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-4">
                @if (Model.Product_1.Id != 0)
                {
                    <img src="@WC.ImagePath@Model.Product_1.Image" width="100%" style="border-radius:5px; border: 1px solid #bbb" alt="Image" />

                }
            </div>
        </div>
    </div>
    @* </div> *@
</form>

@section scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>

        function validateInput() {
            if (document.getElementById("uploadBox").value == ""){
              Swal.fire({
                    title: "Error !",
                    text: "Please upload an Image !",
                    icon: "error"
              });
              return false;
            }
            return true;
        }

        $(document).ready(function () {
            $('#summernote').summernote({
                placeholder: 'Hello',
                heght: 250,
            });
        });
    </script>
}

